html {
    box-sizing: border-box;
    font-size: $base-font-size;
    scrollbar-width: none;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-weight: 400;
    line-height: 1.7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
* Basic styles for links
*/
a {
    color: $color-black;
    text-decoration: none;

/*     @include on-event {
        color: $color-text;
        text-decoration: underline;
    } */
}
