.brand {
  font-family: 'Quicksand', Impact, sans-serif;
  font-size: 10rem;
  line-height: 10rem;
  opacity: 1;
  color: $color-gray-dark;
  &--animated {
    animation: moveInBottom 1s ease-out;
  }
}

.heading-main {
  font-family: 'Oswald-bold', Impact, sans-serif;
  font-size: 7rem;
  line-height: 10rem;
  opacity: 1;
  animation: moveInBottom 1s ease-out;
}

.heading-sub {
  font-family: 'Oswald-extralight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: .1rem;
  opacity: 1;
  animation: moveInTop 2s ease-out;
}

.heading-primary {
  color: $color-text;
  backface-visibility: hidden;
  display: block;
  font-family: 'Quicksand', Impact, sans-serif;

  &--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }

  &--general {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 5rem;
    color: #000;
  }

  &--sub {
    font-size: 4rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out;
  }

  &--caption {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
  
.heading-secondary {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Oswald-extralight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: $color-gray-dark;
  letter-spacing: 2px;
  transition: all .2s;

  // &:hover {
  //   transform: skewY(10deg) skewX(5deg) scale(1.1);
  //   text-shadow: .5rem 1rem 2rem rbga(0,0,0, .8);
  // }
}

.heading-tertiary {
  font-size: $base-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  font-size: 1.6rem;
  font-family: $text-primary;
  color: $color-info;
  text-align: center;
  line-height: 2rem;
}

.paragraph {
  font-family: 'Quicksand', Impact, sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;

  &--xs {
    font-size: 1rem;
  }
  &--sm {
    font-size: 1.8rem;
  }
  &--md {
    font-size: 2.4rem;
  }
  &--lg {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  &--xxl {
    font-size: 6rem;
    line-height: 3.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.label {
  font-family: 'Quicksand', Impact, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;

  &--sm {
    font-size: 1.4rem;
  }
}

.caption {
  font-family: 'Quicksand', Impact, sans-serif;
  font-size: 1rem;
}

// Text colors 
.blue {
  color: $mid-blue;
}
.green {
  color: $pale-green;
}
.pink {
  color: $pale-pink;
}
.gray {
  color: $color-gray-dark;
}

// Text weights
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}
.thin {
  font-weight: 300;
}


// Responsive
@media screen and (width > 768px) {
  .heading-main {
    font-size: 10rem;
    margin: 1rem;
  }
  
  .heading-sub {
    line-height: 4rem;
    letter-spacing: .15rem;
  }

  .heading-primary {
    &--general {
      font-size: 4rem;
      font-weight: 500;
      letter-spacing: .25rem;
      color: #000;
    }
  }
}

