$attributes: (
  margin: 'm',
  margin-top: 'mt', 
  margin-bottom: 'mb', 
  margin-left: 'ml', 
  margin-right: 'mr',
  padding: 'p', 
  padding-top: 'pt', 
  padding-bottom: 'pb', 
  padding-left: 'pl', 
  padding-right: 'pr'
);
$measures: (1,2,3,4,5,6,7,8,9,10,12,14,16,18,20, 22,24,26,28,30);