/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Regular font family
/// @type List
$text-heading: 'Oswald-bold', 'Arial', sans-serif !default;

$text-secondary: 'Oswald-ExtraLight', 'Arial', sans-serif !default;

$text-primary: 'Oswald-light', 'Arial', sans-serif !default;

$button-label: 'Quicksand', Impact, sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$color_black: #000;
$color-text: #495159 !default;
$color-translucid-white-50: rgba(#fff, .5) !default;
$color-translucid-white-95: rgba(#fff, .95) !default;

/// Main brand color
/// @type Color
$color-brand: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$color-gray-light: rgb(236, 239, 236) !default;

/// Medium grey
/// @type Color
$color-gray-mid: rgb(153, 153, 153) !default;


/// Dark grey
/// @type Color
$color-gray-dark: rgb(68, 68, 68) !default;

/// Info Text color
/// @type Color
$color-info: rgb(70, 21, 160) !default;

/// Backgrounds
/// @type Color
$washed-gray: #ecefec !default;
$pale-blue: #6d98cc !default;
$mid-blue: #368dde !default;
$bright-yellow: #fbe74e !default;
$bright-orange: #de8261b9 !default;
$pale-pink: #ffd0e2 !default;
$pale-green: #DBF4A7 !default;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;
$max-width-sm: 768px !default;
$max-width-md: 1024px !default; 
$max-width-lg: 1440px !default;
$max-width-xl: 2560px !default;


// html base font size
/// @type Size
$base-font-size: 10px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are breakpoints expressed in pixels
$breakpoints: (
  'xs': 320px,
  'sm': 455px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
  'xxl': 2560px,
) !default;


/// Grids specs base font size
/// @type Size
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


/// Debug 
/// @type debug
$debug-border-red: dashed 3px red; 
$debug-border-blue: dashed 3px blue; 
$debug-border-green: dashed 3px green; 