.second-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transform: translateY(25%);
    padding: 0 1rem 2.5rem 1rem;
    gap: 1rem;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;

    &__title {
        display: flex;
        justify-content: center; 
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        color: $color-gray-dark;
    }

    &__image-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45dvh;
        width: 100%;
        max-width: 500px;
        padding: 5rem 0;
        margin-bottom: 2.5rem;
        border-bottom: 3px #495159 solid;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #ecefec;
        animation: backColorChange 20s infinite ease-in-out;
        box-sizing: border-box;

        & > img {
            width: 70%;
            max-width: 100%;
            animation: secondaryImageAnimation 20s infinite ease-in;
        }
    }
}

.text-card {
    display: flex;
    justify-self: center;
    width: 95%;
    background-color: $pale-blue;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem auto;
    opacity: 0;
    transform: translateY(200%);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }

    &__pill {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255,255,255,.5);
        border-radius: 25px;
        height: 2.5rem;
        width: 10rem;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width : 30%;
        height: auto;
        background-color: rgba(255,255,255,0.5);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        font-size: 3rem;
    }
}

// Media Queries
@media screen and (425px < width <= 768px) {
    .second-section {
        &__image-box {            
            width: 52.5rem;
            margin-bottom: 2rem;
            border: 3px #000 solid;
            & > img {
                position: relative;
                top: -10px;
                height: 25vh;
                width: 50%;
            }
        }
    }
}

@media screen and (width > 768px) {
  .second-section {
    flex-direction: column;
    transform: translateY(80%);
    background-color: $washed-gray;
    
      &__row {
          display: flex;
          justify-content: space-between;
      }

      &__content-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: absolute;
          width: 90%;
          height: 55%;
          overflow-y: hidden;
          scrollbar-width: none;
      }
      
      &__col {
          width: 28%;
          display: flex;
          flex-direction: column;
      }

      &__image-box {            
          width: 32.5rem;
          padding: 10rem 0;
          margin-bottom: unset;
          left: 50%;
          transform: translate(-50%, 0%);
          border-radius: 10px;
          border: 3px #000 solid;

          & > img {
            position: relative;
            top: -45px;
            width: 80%;
        }
      }

      &__title {
        height: 8.5rem;
        margin-bottom: unset
    }
  }

  .text-card {
    display: flex;
    width: 100%;
    padding: 1.5rem;

    &__pill {
        height: 10rem;
        padding: 2rem 0;
        border: dashed 4px #fff;
    }

    &__icon {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        border: none;
        width: 15%;
        font-size: 2.5rem;
        background-color: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

  }
}

@media screen and (width >= 1440px) {
  .second-section {
         
    &__col {
        width: 30%;
    }

    &__image-box {
        margin-bottom: 2rem;            
        width: 45rem;
            & > img {
            top: -70px;
        }
    }

    .text-card {
        &__pill {
            height: 8rem;
            padding: 0 8rem;
            border: dashed 4px #fff;
            border-radius: 50px;
            &__content>p{
                font-family: 20rem;
            }
        }
    }

    &__title {
        height: 8.5rem;
        margin-bottom: unset;
    }
  }

  .text-card {
    display: flex;
    width: 100%;
    padding: 1.5rem;

    &__pill {

    }

    &__icon {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        border: none;
        width: 15%;
        font-size: 2.5rem;
        background-color: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

  }
}