.start-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 60%;
  width: 80%;
  height: 7rem;
  transform: translate(-50%, 50%);
  z-index: 10;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: #25D366;
  gap: 2rem;
  & > p {
    font-family: $button-label;
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
  }
  & > img {
    height: 5rem;
  }
}

// Responsive
@media screen and (width > 768px) {
  .start-button {
    width: 23rem;
    height: 5rem; 
    gap: 1rem;
    & > p {
       font-weight: 600;
       font-size: 1.8rem;
    }
    & > img {
      height: 4rem;
    }
  }
}
