
// Media Queries
@media screen and (width > 768px) {
  .text-card {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: transparent;
      border-radius: 20px;
      padding: 1.5rem;
      margin-bottom: 1rem;
      opacity: 0;
      transform: translateY(200%);

      &__content {
          width: 85%;
      }

      &__pill {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255,255,255,.5);
          border-radius: 25px;
          height: 2.5rem;
          min-width: 2rem;
          max-width: 9rem;
          width: auto;
      }

      &__icon {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 15%;
          font-size: 2.5rem;
      }
  }
}