.third-section {
    background-color: $washed-gray;
    position: relative;
    padding: 5rem; 
        max-width: $max-width;

    
    &__box {
        padding: 0;
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($pale-pink, .1);
        width: 100%;
    }

    &__header {
        width: 95%;
    }
    
    &__cards {
        width: 95%;
        display: inherit;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
    }

    &__card {
        display: inherit;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 25px;
        padding: 2.5rem;
        &:first-child { 
            background-color: $pale-green;
        }
        &:nth-child(2) {
            background-color: $washed-gray;
         }
        &:last-child {
            background-color: $pale-pink;
        }
    }
}


// Media Queries
@media screen and (width > 768px) {
    .third-section {
        background-color: $washed-gray;
        transform: translateY(120%);
        position: fixed;

        &__box {
            padding: 0;
            display: inherit;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba($pale-pink, .1);
            height: 70%;
            width: 100%;
        }

        &__header {
            width: 85%;
        }

        &__cards {
            width: 90%;
            flex-direction: row;
            align-content: space-around;
            justify-content: space-evenly;
        }

        &__card {
            flex-direction: column;
            width: 30%;
            transform: translateY(0%);
            transition: all .5s;
            &:first-child { 
                background-color: rgba($pale-green, .5);
            }
            &:nth-child(2) {
                background-color: $washed-gray;
             }
            &:last-child {
                background-color: rgba($pale-pink, .5);
            }
            &:hover {
                transform: translateY(-5%);
                transition: all .5s ease-out;
            }
        }
    }
}