.plan-summary {
  &__data {
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      border-radius: 15px;
      background-color: rgba($pale-green, .4);
      box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
      padding: 1rem 1.5rem;

      &>h2 {
        font-size: 2.1rem;
        background-color: rgba(#fff, .5);
        padding: 0 1rem;
        border-radius: 10px;
      }

      &>p{
        border-bottom: 2px #9c9c9c dashed;
        margin: 0.25rem 0;
        font-size: 2rem;
        &>span {
          font-weight: 500;
        }
      }
    }
  }

  &__disclaimer {
    padding: 0 1rem;
    margin: 1.5rem 0;
    &>p {
      font-size: 1.25rem;

    }
  }
}

@media screen and (width >= 768px) {
  .plan-summary  {
      &__data-box {
        justify-content: center;
        align-items: center;
        width: 60%;
        padding: 4rem;
          &> p{
            width: 95%;
            text-align: left;
          }
      }
  }
}