.alert {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1%;
  left: 0%;
  width: 100%;
  animation: moveInBottom .5s ease-out;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    border-radius: 15px;
    min-height: 2rem;
    width: 80%;
    border: solid 1px rgba(#fff, .2);
    &--error {
      background-color: rgba($pale-pink, .85);
    }
    &--success,
    &--alert {
      background-color: rgba($pale-green, .9);
    }
  }

  &__message {
    color: #495159;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  &__title {
    color: #495159;
    font-size: 1.1rem;
  }

  &__close-button {
    position: relative;
    right: 8%;
    color: #495159;
    font-family: monospace;
    font-size: 3rem;
    line-height: 2rem;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    height: auto;
  }
}

// Media Queries
@media screen and (width > 768px) {
  .alert {
    justify-content: flex-start;
    left: .5%;
    width: 30%;
  
    &__container {
      align-items: flex-start;
      border-radius: 5px;
      min-height: 2rem;
      width: 100%;
      padding-left: 1rem;
    }

    &__close-button {
      right: 1%;
      font-size: 1.5rem;
      background-color: $color-gray-light;
      color: $color-text;
      border-top-right-radius: 10%;
      border-bottom-right-radius: 10%;
      width:1.7rem;
      height: auto;
      text-align: center;
    }
  }
}