.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $bright-yellow;
  top: 75%;
  transform: translateY(100%);
  width: 100%;
  max-width: $max-width;
  height: 25vh;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.25);

  & > p {
    margin: 0;
    line-height: 0;
  }

  & > img {
    height: 8rem;
  }


  &__socials {
    & > a {
      font-size: 2.5rem;
      color: $color-gray-dark
    }
  }
}

@media screen and (width > 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba($bright-yellow,.5);
    top: 80%;
    height: 20vh;

    & > img {
      height: 8rem;
    }

    &__socials {
      & > a {
        font-size: 5rem;
      }
    }
  }
}