.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: $bright-yellow;
  z-index: 1000;
  border-left: 18px solid $pale-green;
  animation: moveInFromRight .25s ease-in;

  &__button-box {
    position: absolute;
    top: 1%;
    align-self: flex-end;
  }
  
  &__close-button {
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
    border: #000 solid 2px;
    background-color: rgba(255,255,255,.5);
    animation: rotate .5s ease-in;
    & > i {
      font-size: 3rem;
      width: 100%;
      margin-top: 5%;
    }
  }
  
  &__link-list {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    animation: moveInBottom .75s ease-in;
    & > * {
      line-height: 7rem;
      border-bottom: 1px solid $color-black;
    }
  }
}
