.base-modal {
  &__main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: $color-translucid-white-95;
    overflow: auto;
    border-bottom: 20px solid $bright-yellow;

  }

  &__close-button {
    position: absolute;
    right: 2%;
    top: 1%;
    background-color: $bright-yellow;
    border: 1.5px #000 solid;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    font-size: 2rem;
  }
  
  &__content {
    height: auto;
    width: 100%;
    max-width: $max-width-sm;
    padding: 6rem 0 2rem 0;
    justify-content: flex-start;
  }
}

.surveyError {
  background-color: $pale-pink;

  &__close-button {
    background-color: $pale-blue;
    color: $color-gray-light;
    border-color: $color-gray-mid;
  }

  &__content {
    border-bottom: 20px solid $pale-blue;

    h1 {
      font-size: 2rem;
    }

    p {
      color: $color-gray-dark;
      font-size: 1.8rem;
      width: 80%;
    }
  }
}