.corporate-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corporate-content-container {
  position: relative;
  top: 30rem;
  width: 100%;
}

.corporate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:2rem;
  width: 100%;

  &--gray {
    border-top: 10px dashed $washed-gray;
    background-color: #fff;
  }
  &--yellow {
    background-color: rgba($bright-yellow, 1);
  }
  &--green {
    background-color: rgba($pale-green, 1);
  }

  &__info {
    width: 100%;
  }

  &__faq {
    margin-bottom: 2rem;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      border: none;
      background-color: transparent;
      border-bottom: 3px solid $pale-green;
      padding: 1rem 2rem;
      width: 100%;
    }

    &-content {
      animation: expandVertically 0.25s ease-in;
      height: auto;
      max-height: 500px;
      background-color: rgba(#fff, .35);
      padding: 1rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

}

.heading-corporate {
  position: fixed;
  top: 10rem;
  margin: 0 auto;
  text-align: center;
  height: auto;
}

// Media Queries
@media (min-width: 768px) {
  .corporate-content {
    &__info {
      width: 60%;
    }
  }
}