@import '../routesComponents/home/secondSection';
@import '../routesComponents/home/thirdSection';
@import '../routesComponents/home/textCards';
@import '../routesComponents/home/startButton';

.home-container {
    width: 100%;
    scroll-snap-type: y mandatory;
    & div {
        scroll-snap-align: start;
    }
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 50vh;
}

.section {
    //mixin
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

// Media Queries
@media screen and (width > 768px) {
    .heading-container {
        position: fixed;
        height: unset;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -40%);
    }
    .section {
        height: 101vh;
        width: 100%;
    }
}