.loan-config {
  background-color: $bright-yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;

  &__instructions-box {
    background-color: rgba(#fff, .4);
    padding: 1rem;
    border-radius: 15px;
    width: 90%;
    margin: auto;
  }

  &__max-amount {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: rgba(#fff, .5);
    width: 100%;
    max-width: 350px;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 5px;
    color: $color-gray-dark;
    box-shadow: 5px 5px 5px rgba(#000, .05);

    &>p {
      margin: 0 !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .loan-config {
    &__max-amount {
      width: 80%;
      max-width: 400px;
    }
  }
}