.score {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    background-color: #fff;

    p {
        color: $color-gray-dark;
    }
    &__data {

        &-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 80%;
            height: 45vh;
            border-radius: 15px;
            background-color: rgba($pale-green, .4);
            box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
            padding: 1rem;
        }   
        
        &-icon {
            align-self: center;

            &> i {
                font-size: 3rem;
                color: rgba(green, .7);
                animation: heartbeat 2s infinite;
            }
        }

        &-figure {
            font-size: 8rem;
            color: $color-gray-dark;
            background-color: $pale-green;
            border-radius: 25px;
            width: 70%;
            align-self: center;
            line-height: 12rem;
        }
    }


}

@media screen and (width >= 768px) {
    .score {
        &__data-box {
            width: 50%;
        }
    }
}